<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhkj.mapper.mycollect_mapper.MyCollectMapper">
    <resultMap id="resultMap" type="com.zhkj.entity.MycollectEntity">
        <id property="id" column="id"/>
        <result property="commodityId" column="commodityId"/>
        <result property="userId" column="userId"/>
        <result property="commodityIntroduce" column="commodityIntroduce"/>
        <result property="commodityPrice" column="commodityPrice"/>
        <result property="smallPictureUrl" column="smallPictureUrl"/>
    </resultMap>
    <select id="queryByUserIdCollectAll" resultType="map" resultMap="resultMap">
        select * from mycollect WHERE userId=#{userId}
    </select>
    <insert id="save" parameterType="map">
        INSERT INTO mycollect (userId, commodityId, commodityIntroduce, commodityPrice, smallPictureUrl)  VALUES (#{userId},#{commodityId},#{commodityIntroduce},#{commodityPrice},#{smallPictureUrl})
    </insert>
    <delete id="deleteCollectById" parameterType="map" >
        DELETE from mycollect
        <where>
            <if test="array.length>0 and array!=null">
                id in
                <foreach collection="array" item="id" open="(" close=")" index="index" separator=",">
                    #{id}
                </foreach>
            </if>
            and userId=#{userId}
        </where>
    </delete>
</mapper>