<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhkj.mapper.shoppingcart_mapper.ShoppingCartMapper">
    <resultMap id="resultMap" type="com.zhkj.entity.ShoppingcartEntity">
        <id property="id" column="id"/>
        <result property="commodityNumber" column="commodityNumber"/>
        <result property="commodityPrice" column="commodityPrice"/>
        <result property="commodityId" column="commodityId"/>
        <result property="smallPictureUrl" column="smallPictureUrl"/>
        <result property="commodityIntroduce" column="commodityIntroduce"/>
        <result property="userId" column="userId"/>
    </resultMap>
   <select id="queryShoppingCart" resultMap="resultMap" >
       select * from shoppingcart WHERE userId=#{userId}
   </select>
    <insert id="saveShoppingCart" parameterType="map">
      INSERT INTO shoppingcart (commodityNumber, commodityPrice, commodityId, smallPictureUrl, commodityIntroduce, userId)  VALUES (#{commodityNumber},#{commodityPrice},#{commodityId},#{smallPictureUrl},#{commodityIntroduce},#{userId})
    </insert>
    <delete id="deleteShoppingCart" parameterType="map">
        DELETE from shoppingcart where id in
        <foreach collection="list" item="id" open="(" close=")" index="index" separator=",">
            #{id}
        </foreach>
    </delete>
    <update id="updateShoppingCart" parameterType="map">
        UPDATE shoppingcart SET commodityNumber= #{commodityNumber} WHERE commodityId=#{commodityId} AND userId=#{userId}
    </update>
</mapper>